.nav_quick {
    display: none;
}


.contactMainHeader {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 10px;
    position: relative;
    background: linear-gradient(rgba(19, 210, 244, 0.35), rgba(37, 182, 235, 0.82)),
    rgba(71, 166, 230, 0.77) url(../img/mainheader-museum.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.contactMainHeader h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 4.5em;
    padding: 20% 15%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.contactInfo {
    width: 100%;
    height: 40vh;
    background: #1C1E22;

}