/***************************
Navigation
***************************/

.nav_item4 {
    display: none;
}


/***************************
Contact Header Image
***************************/

.contactMainHeader {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 10px;
    position: relative;
    background: linear-gradient(rgba(38, 152, 226, 0.33), rgba(38, 152, 226, 0.33)),
    rgba(38, 152, 226, 0.33) url(../img/contact-header.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.contactMainHeader h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 4em;
    padding: 20% 15%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}


/**************************
General Contact Info
*************************/

.contactInfo {
    width: 100%;
    background: #1C1E22;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
    padding:15px 15px 25px;
}

.contactInfoitem {
    flex: 1 300px;
}


.contactGeneral {
    color: #fff;
    padding: 15px;
}

.contactGeneral h3 {
    padding: 20px 0;
    font-size: 1.5em;
    color: #f18a20;
}

.contactGeneral p {
    padding-bottom: 10px;
}

.contactGeneral a {
    color: #fff;
    text-decoration: none;
}

.contactGeneral a:hover {
    color: #00aed9;
    text-decoration: none;
}

.contactGeneral hr {
    height: 1px;
    color: #fff;
    background-color: #fff;
    border: none;
}


/***************************
Contact Form 
***************************/

.contactForm {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
}

.contactForm label {
    color: #f18a20;
    padding-top: 15px;
    font-size: 1.2em;
}

.contactForm textarea {
    width: 100%;
    height: 100px;
}

.contactForm input[type=text], select, textarea {

    background: rgba(38, 152, 226, 0.09);
    border: 1px solid #00aed9;
    font-size: 1em;
    padding: .5em .5em;
    border-radius: 5px;
   width: 100%;
   color: #fff;   
}


.contactForm input[type=submit] {
    display: block;
    background: rgba(38, 154, 226, 0.79);
    box-shadow: 0 3px 0 0 #1D3C6A;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-shadow: 0 1px #68B25B;
    font-weight: normal;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    padding: .25em;
    outline: none;
}

.contactForm input[type=submit]:hover {
    background-color: #0BB8DF;
}



/***************************
MAP
***************************/

#contactMap {
    width: 100%;
    height: 400px;
}


/***************************
MEDIA QUERIES
***************************/

@media (min-width: 750px) {
    .contactInfo {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10%;
    }
}

@media (min-width: 1025px) {

    .contactMainHeader {
        height: 350px;
    }

    #contactMap {
        height: 400px;
    }

    .contactInfo {
        padding-left: 15%;
    }
}

@media (min-width: 1500px) {
    .contactInfo {
        padding-left: 8%;
    }

    .contactInfoitem {
        max-width: 500px;
    }
}

@media (min-width: 2010px) {

    .contactInfoitem {
        max-width: 600px;
    }
}