
/*************************
Main background color
*************************/

.getinvolvedBkgd {
    background:linear-gradient(rgba(224, 219, 219, 0.67), rgba(228, 216, 210, 0.8)), rgba(224, 219, 219, -3.1) url(../img/about-contentbackground.jpg) center no-repeat;
    background-size: cover;

}

/***************************
Get Involved Header Image
***************************/

.getinvolvedMainHeader {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 10px;
    position: relative;
    background: linear-gradient(rgba(38, 152, 226, 0.33), rgba(38, 152, 226, 0.33)),
    rgba(38, 152, 226, 0.33) url(../img/getinvolved-header.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.getinvolvedMainHeader h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 4em;
    padding: 20% 15%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}



/**************************
Get Involved Information
*************************/

.getinvolvedinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    margin: 20px;
}

.getinvolvedinfo ul {
    list-style-type: disc;
    padding-left: 17px;
}

.getinvolvedinfo h2 {
    padding-bottom: 5px;
}

.getinvolvedinfo h3 {
    font-size: 1.5em;
    padding-bottom: 5px;
}

.getinvolvedinfo p {
    padding-bottom: 10px;
    line-height: 1.3em;
}

.getinvolveditem {
    flex: 1 40%;
    padding: 10px;
}


/**************************
Get Involved Signup Section
*************************/

.getinvolvedSignup {
    display: flex;
    flex-direction: column;
    background: #212529;
    color: #fff;
    height: 275px;
    padding: 15% 15% 20%;
}

.getinvolvedSignup a {
    text-decoration: none;
    color: #f18a20;
}

.getinvolvedSignup a:hover {
    color: #fff;
}

.getinvolvedSignupitem {
    position: relative;
    width: 100%;
    text-align: center;
}

.getinvolvedSignupitem h2 {
    margin: 0;
    padding-bottom: 3%;
}

.getinvolvedSignupitem h3 {
    margin: 0;
}

/*************************
Media Queries
*************************/


@media (min-width: 750px) {
    .getinvolvedinfo {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .getinvolvedSignup {
        padding: 10% 15% 18%;
    }
   
}

@media (min-width: 850px) {
    .getinvolvedinfo {
        margin: 5%;
    }

    .getinvolvedinfo p {
        padding-bottom: 10px;
        line-height: 1.5em;
    }

    .getinvolveditem:first-child {
       padding-right: 20px;
    }
}

@media (min-width: 1025px) {
    .getinvolvedMainHeader {
        height: 350px;
    }

    .getinvolvedMainHeader h1 {
        font-size: 4.5em;
    }
}

@media (min-width: 1350px) {
   .getinvolvedSignup {
    padding: 7% 15%;
    max-height: 200;
   }
   .getinvolvedSignupitem h2 {
    padding-bottom: 2%;
    }
    .getinvolveditem:first-child {
        padding-right: 50px;
     }
}

@media (min-width: 1500px) {
    .getinvolvedSignup {
        padding: 5% 15% 7%;
        max-height: 200;
       }
    .getinvolvedinfo {
        margin: 5% 8%;
    }
}

@media (min-width: 2010px) {
    .getinvolvedSignupitem h2 {
        padding-bottom: 1%;
    }

    .getinvolvedSignup {
        padding: 4% 15% 7%;
    }
}

