/************************
Sticky Nav
************************/

.nav_sticky {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
    z-index: 10px;
}

.nav_sticky a {
   color: #fff;
   text-decoration: none;
}

.nav_sticky p {
    font-size: 1.2em;
    text-align: center;
}

.nav_sticky_item {
    cursor: pointer;
} 

.nav_item1 {
    max-width: 150px;
    margin-right: auto;
    padding-left: 20px;
    padding-bottom: 10px;
}

.nav_item2,
.nav_item3,
.nav_item4 {
    padding: 10px;
    align-self: stretch;
    background-color: #3d4543;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.nav_item2:hover,
.nav_item3:hover,
.nav_item4:hover {
    background-color: #0BB8DF;
    color: #3d4543;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

/************************
Hamburger Toggle Menu
************************/

.toggle_menu {
    position: fixed;
    padding: 15px 15px 15px 15px;
    margin-top: 25px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(222, 110, 0, 0.5);
    z-index: 100000;
    font-size: 2em;
    opacity: 0;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.toggle_menu:hover {
    /* border: 2px solid #f17a00; */
    background-color: #f17a00;
    /* opacity: .8; */
}

.toggle_menu_zindex-change {
    z-index: -100;
}

/************************
When Toggle Menu is Open
************************/

.sidebar_menu {
    position: fixed;
    margin-right: 0px;
    overflow: auto;
    height: 100vh;
    width: 0;
    max-height: 100vh;
    background-color: #3d4543;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.show_menu {
    width: 100%;
}

.opacity_one {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.menu_exit {
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    padding: 5px;
    color: white;
    transition: all 0.1s;
}

.menu_exit:hover {
    opacity: 1;
    background-color: #fff;
    color: #111;
}


/************************
Flex container in the open toggle menu
************************/

.menu_container {
    padding: 10px;
    margin: 45px auto;
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: stretch;
}

.menu_container li {
    display: inline-flex;
    padding: 5px 10px;
    font-size: 1.5em;
}

.menu_container h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.menu_container h3 {
    margin-bottom: 5px;
}

.menu_item {
    color: #fff;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.menu_1:hover,
.menu_2:hover,
.menu_3:hover,
.menu_4:hover {
    opacity: .7;
    cursor: pointer;
}

/******************
Media Queries
******************/



@media (max-width:699px) {
    
    .menu_1,
    .menu_2,
    .menu_3,
    .menu_4 {
        border: 1px solid #fff
    }

    .menu_1:hover,
    .menu_2:hover,
    .menu_3:hover,
    .menu_4:hover {
        background-color: #fff;
        color: #111;
    }

    .menu_container h1 {
        font-size: 2.5em;
        padding: 5px;
    }
    
}

@media (min-width: 635px) {
    .nav_sticky {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 100px;
        padding: 10px;
    }

    .nav_sticky a {
        color: #000;
        background-color: transparent;
    }

    .nav_sticky a:hover {
        font-weight: bold;
        /* color: #f18a20; */
    }

    .nav_item2,
    .nav_item3,
    .nav_item4 {
        align-self: center;
        background-color: transparent;
        color: #000;
    }

    .nav_item2:hover,
    .nav_item3:hover,
    .nav_item4:hover {
        background-color: transparent;
        color: #f18a20;
        border-bottom: 1px solid #fff;
        font-weight: bold;
    }
    
}

@media (min-width: 700px) {
    .menu_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 80%;
        width: 80%;
    }
    .menu_item {
        flex: 1 400px;
        text-align: left;
    }

    .menu_container h1 {
        font-size: 3em;
        padding: 10px;
    }
}

@media (max-width:849px) {
    .menu_container {
        height: 50px;
    }
    
    .menu_container h1 {
        font-size: 1.5em;
        padding: 5px;
    }
}

@media (min-width:850px) {
    .menu_1 {
        background: linear-gradient(rgba(96, 148, 225, 0.63), rgba(96, 184, 225, 0.63)),
        rgba(39, 146, 233, 0.85) url(../img/sidebar-planvisit.jpg) center no-repeat;
        background-size: cover;
    }
    .menu_2 {
        background: linear-gradient(rgba(96, 148, 225, 0.63), rgba(96, 184, 225, 0.63)),
        rgba(39, 146, 233, 0.85) url(../img/sidebar-rentmuseum.jpg) center no-repeat;
        background-size: cover;
    }
    .menu_3 {
        background: linear-gradient(rgba(96, 148, 225, 0.63), rgba(96, 184, 225, 0.63)),
        rgba(39, 146, 233, 0.85) url(../img/sidebar-shop.jpg) center no-repeat;
        background-size: cover;
    }
    .menu_4 {
        background: linear-gradient(rgba(96, 148, 225, 0.63), rgba(96, 184, 225, 0.63)),
        rgba(39, 146, 233, 0.85) url(../img/sidebar-contact.jpg) center no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1625px) {

    .menu_item {
        flex: 1 600px;
    }

    .menu_1,
    .menu_2,
    .menu_3,
    .menu_4 {
        min-height: 400px;
    }

    .menu_5 p {
        text-align: right;
    }
}

@media (min-width: 2428px) {
    .menu_item {
        flex: 40%;
    }

    .menu_1,
    .menu_2,
    .menu_3,
    .menu_4 {
        min-height: 400px;
    }
}
