

/*************
main styles
*************/

* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h3 {
    padding-bottom: none;
    margin: auto;
}


/*************
Section Get Involved & Rent the Museum
*************/

.container3 {
    display: flex;
    flex-wrap: wrap;
    /* height: 200px; */
    /* justify-content: space-around; */
    align-items: stretch;
    margin: 5px auto 40px;
    background: #000;
    color: #fff;
}

.container3item {
    flex-grow: 1;
    flex-basis: 50%;
    height: 200px;
}

.involved1 {
    flex-grow: 2;
    object-fit: scale-down;
}

/* .involved1 img {
    background-size: cover;
    width: auto;
} */

.involved2 { 
    flex-grow: 1;
    color: #fff;
	padding: 15px;
    background: #f18a20;
    /* font-size: 2em; */
}

.rent1 {
    flex-grow: 1;
    color: #fff;
	padding: 15px;
	background: #00A6FF;
}

/* .rent1 img {
    background-size: cover;
    width: 100%;
} */

.rent2 {
    flex-grow: 2;
    color: #000;
}

/*************
END OF -- Section Get Involved & Rent the Museum
*************/



/*************
footer
*************/

.footer {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #1e2530;
    color: #fff;
  }

/*************
footer navigation
*************/

  .footer-nav li {
      padding-right: 1.5em;
      font-weight: bold;
      font-size: 2em;
      line-height: 1em;
      color: #fff;
      letter-spacing: 1px;
      padding: 5px;
  }


  /*************
footer e-mail newsletter sign up
*************/

.footer-signup {
    display: flex;
    height: 50px;
    background-color: tomato;
}

.signup-item {
    flex-grow: 1
}


  /* .signup-flex {
        display: inline-flex;
  } */


  /* .footer-signup form {
      width: 80%;
  }

  .footer-signup button {
  width: 20%;
} */



  /*************
footer social media links
*************/

  .footer-social li {
    display: inline-block;
    padding-right: 1.5em;
    line-height: 1.5em;
}

.footer-social p {
    font-weight: bold;
    letter-spacing: 0.25em;
}

.copyright p {
    font-size: 0.75em;
    color: #fff;
}

/* unvisited link */
.footer a:link {
    color: #f18a20;
}

/* visited link */
.footer a:visited {
    color: #f18a20;
}

/* mouse over link */
.footer a:hover {
    font-weight: bold;
    color: #fff;
}

/* selected link */
.footer a:active {
    color: #f18a20;
}